<div class="container col-md-12 nav-flex">

	<div class="sidebar_custom">
		<div class="box_button">
			<a ng-click="blank_text()" data-title="Add" data-toggle="modal" data-target="#add" class="add_button btn_gradient">
				<span>
					<i class="fa fa-plus"></i>
				</span>
			</a>
			<h4>Ajouter un fournisseur</h4>
		</div>
	</div>

	<div class="title">
		<h1>2TECH</h1>
	</div>
	<nav>
		<ul>
			<li><a ui-sref="gestion">Gestion des stocks</a></li>
			<li><a ui-sref="fournisseur">Liste des fournisseurs</a></li>
			<li><a ui-sref="user">Gestion des utilisateurs</a></li>
		</ul>
	</nav>
	<div class="log">
		<a ng-click="logout_user()" data-toggle="tooltip" data-placement="top"><span class="glyphdeco glyphicon glyphicon-off" aria-hidden="true"></span>Déconnexion</a>
	</div>
</div>

<div class="intro">
	<h1>Liste des fournisseurs</h1>
</div>

<div class="article">
	
	<div class="header_article">
		
		<div class="content_article">
			<h2>Information</h2>
			<ul>
				<li class="col-md-4">
					<h3>Nom</h3>
					<div class="box_desc">
						<p ng-model="name">{{name | capitalize}}</p>
					</div>
				</li>
				<li class="col-md-4">
					<h3>Localisation</h3>
					<div class="box_desc">
						<p ng-model="localisation">{{localisation | capitalize}}</p>
					</div>
				</li>
				<li class="col-md-4">
					<h3>Référence</h3>
					<div class="box_desc">
						<p ng-model="referenceF">{{referenceF}}</p>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="middle_article">

		<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<h3 class="modal-title custom_align" id="Heading">Ajouter un fournisseur</h3>
					</div>

					<div class="modal-body">
						<div class="form-group">
							<h4>Nom</h4>
							<input class="form-control " name="name" ng-model="nameAdd" type="text" placeholder="Nom...">
						</div>

						<div class="form-group">
							<h4>Localisation</h4>
							<input class="form-control" name="localisation" ng-model="localisationAdd" type="text" placeholder="Localisation...">
						</div>

						<div class="form-group">
							<h4>Référence</h4>
							<input class="form-control " name="reference" ng-model="referenceAddF" type="text" placeholder="Référence...">
						</div>

						<div class="form-group">
							<h4>Date</h4>
							<div class="date_field">
	  							<input class="form-control size_input" name="date" type="text" datepicker="" ng-model="dateF" ng-change="dateChanged(date)" placeholder="Date..."/>
	  							<p>Cliquez sur le champ pour sélectionner la date.</p>
  							</div>
						</div>
					</div>

					<div class="modal-footer ">
						<button name="add_fournisseur" ng-click="add_fournisseur()" type="button" class="btn btn-warning btn-lg btn-color-custom" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Ajouter le fournisseur</button>
					</div>

				</div>
			<!-- /.modal-content --> 
			</div>
		</div>
	</div>

	<div class="search_article">
		<div class="inner_search_article">
			<div class="content_table">
				<form method="POST">
					<table id="example" dt-options="dtOptions" datatable="ng" class="row-border hover" ng-init="get_fournisseurs()">
						<thead>
							<tr>
							  <!-- <th class="table_link">Id</th> -->
							  <th class="table_link">Nom</th>
							  <th class="table_link">Localisation</th>
							  <th class="table_link">Référence</th>
							  <th class="table_link">Date</th>
							  <th class="table_link">Sélectionnez</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
							  <!-- <th class="table_link_foot">Id</th> -->
							  <th class="table_link_foot">Nom</th>
							  <th class="table_link_foot">Localisation</th>
							  <th class="table_link_foot">Référence</th>
							  <th class="table_link_foot">Date</th>
							  <th class="table_link_foot">Sélectionnez</th>
							</tr>
						</tfoot>
						<tbody>
							<tr ng-repeat="data in showCase.datas track by $index" class='table-line'>
								<!-- <td class="table-data"><p>{{data.id}}</p></td> -->
								<td class="table-data"><p>{{data.name | capitalize}}</p></td>
								<td class="table-data"><p>{{data.localisation | capitalize}}</p></td>
								<td class="table-data"><p>{{data.reference}}</p></td>
								<td class="table-data"><p>{{data.date}}</p></td>
								<td class="table-data select_box">
									<div class="box_butt">
										<input ng-click="get_id_fournisseurs(data.id)" ng-model="checky" id="result" type="radio" name="id"/><span class="customRadio"></span>
									</div>
									<div class="box_butt" data-placement="top" data-toggle="tooltip" title="Edit">
										<button ng-click="get_id_fournisseurs(data.id)" class="btn btn-primary btn-xs btn-custom" data-title="Edit" data-toggle="modal" data-target="#edit" >
											<img src="img/pencil.png">
										</button>
									</div>
									<div class="box_butt" data-placement="top" data-toggle="tooltip" title="Delete">
										<button ng-click="get_id_fournisseurs(data.id)" class="btn btn-primary btn-xs btn-custom" data-title="Delete" data-toggle="modal" data-target="#delete" >
											<img src="img/cross.png">
										</button>
									</div>
									<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">

												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
													<h3 class="modal-title custom_align" id="Heading">Supprimer le fournisseur</h3>
												</div>

												<div class="modal-body">
													<p class="valid_text">Etes-vous sûr de vouloir supprimer le fournisseur ?</p>
												</div>

												<div class="modal-footer ">
													<button ng-click="delete_fournisseur(data.id)" type="button" class="btn btn-warning btn-lg btn-color-custom" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Supprimer le fournisseur</button>
												</div>

											</div>
										</div>
									</div>
								</td>

							</tr>
						</tbody>
					</table>
				</form>
	    	</div>
    	</div>

	<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<h3 class="modal-title custom_align" id="Heading">Modifier un fournisseur</h3>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<h4>Nom</h4>
						<input class="form-control " name="name" ng-model="name" type="text" placeholder="Nom...">
					</div>

					<div class="form-group">
						<h4>Localisation</h4>
						<input class="form-control" name="localisation" ng-model="localisation" type="text" placeholder="Localisation...">
					</div>

					<div class="form-group">
						<h4>Référence</h4>
						<input class="form-control " name="reference" ng-model="referenceF" type="text" placeholder="Référence...">
					</div>

					<!-- <div class="form-group">
						<textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
					</div> -->
				</div>

				<div class="modal-footer ">
					<button name="update_fournisseur" ng-click="update_fournisseur()" type="button" class="btn btn-warning btn-lg btn-color-custom" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Mettre à jour</button>
				</div>

			</div>
		<!-- /.modal-content --> 
		</div>
	</div>

	</div>

</div>