<div class="container col-md-12 nav-flex">
	<div class="title">
		<h1>2TECH</h1>
	</div>
	<nav>
		<ul>
			<li><a ui-sref="gestion">Gestion des stocks</a></li>
			<li><a href="#">Liste des fournisseurs</a></li>
			<li><a href="#">Gestion des utilisateurs</a></li>
		</ul>
	</nav>
	<div class="log">
		<a ng-click="logout_user()" data-toggle="tooltip" data-placement="top"><span class="glyphdeco glyphicon glyphicon-off" aria-hidden="true"></span>Déconnexion</a>
	</div>
</div>

<div class="intro">
	<h1>Gestionnaire de stock</h1>
</div>

<div class="article">
	
	<div class="header_article">
		<div class="img_article">
			<img src="img/logo.jpg" alt="Aucun article sélectionné."/>
		</div>
		<div class="content_article">
			<h2>Information</h2>
			<ul>
				<li class="col-md-3">
					<h3>Nom</h3>
					<p ng-model="articles">{{articles}}</p>
				</li>
				<li class="col-md-3">
					<h3>Description</h3>
					<p ng-model="description">{{description}}</p>
				</li>
				<li class="col-md-3">
					<h3>Référence</h3>
					<p ng-model="reference">{{reference}}</p>
				</li>
				<li class="col-md-3">
					<h3>Fournisseur(s)</h3>
					<p ng-model="fournisseurs">{{fournisseurs}}</p>
				</li>
				<li class="col-md-3">
					<h3>Quantités</h3>
					<p ng-model="stock">{{stock}}</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="middle_article">
		<div class="box_button">
			<a ng-click="blank_text()" data-title="Add" data-toggle="modal" data-target="#add" class="add_button btn_gradient">
				<span>
					<i class="fa fa-plus"></i>
				</span>
			</a>
			<h4>Ajouter un article</h4>
		</div>

		<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
						<h3 class="modal-title custom_align" id="Heading">Ajouter un article</h3>
					</div>

					<div class="modal-body">
						<div class="form-group">
							<h4>Nom</h4>
							<input class="form-control " name="articles" ng-model="articlesAdd" type="text" placeholder="Nom...">
						</div>

						<div class="form-group">
							<h4>Description</h4>
							<textarea rows="5" class="form-control area" name="description" ng-model="descriptionAdd" type="text" placeholder="Description..."></textarea>
						</div>

						<div class="form-group">
							<h4>Référence</h4>
							<input class="form-control " name="reference" ng-model="referenceAdd" type="text" placeholder="Référence...">
						</div>

						<div class="form-group">
							<h4>Fournisseur</h4>
							<input class="form-control " name="fournisseurs" ng-model="fournisseursAdd" type="text" placeholder="Fournisseur...">
						</div>

						<div class="form-group">
							<h4>Date</h4>
							<div class="date_field">
	  							<input class="form-control size_input" name="date" type="text" datepicker="" ng-model="date" ng-change="dateChanged(date)" placeholder="Date..."/>
	  							<p>Cliquez sur le champ pour sélectionner la date.</p>
  							</div>
						</div>

						<div class="form-group">
							<h4>Quantité</h4>
							<input class="form-control " name="stock" ng-model="stockAdd" type="text" placeholder="Quantité...">
						</div>
					</div>

					<div class="modal-footer ">
						<button name="add_article" ng-click="add_article()" type="button" class="btn btn-warning btn-lg btn-color-custom" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Ajouter l'article</button>
					</div>

				</div>
			<!-- /.modal-content --> 
			</div>
		</div>
	</div>

	<div class="search_article">
		<div class="inner_search_article">
			<div class="content_table">
				<form method="POST">
					<table id="example" dt-options="dtOptions" datatable="ng" class="row-border hover" ng-init="get_articles()">
						<thead>
							<tr>
							  <!-- <th class="table_link">Id</th> -->
							  <th class="table_link">Article</th>
							  <th class="table_link">Description</th>
							  <th class="table_link">Référence</th>
							  <th class="table_link">Fournisseurs</th>
							  <th class="table_link">Date</th>
							  <th class="table_link">Quantités</th>
							  <th class="table_link">Sélectionnez</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
							  <!-- <th class="table_link_foot">Id</th> -->
							  <th class="table_link_foot">Article</th>
							  <th class="table_link_foot">Description</th>
							  <th class="table_link_foot">Référence</th>
							  <th class="table_link_foot">Fournisseurs</th>
							  <th class="table_link_foot">Date</th>
							  <th class="table_link_foot">Quantités</th>
							  <th class="table_link_foot">Sélectionnez</th>
							</tr>
						</tfoot>
						<tbody>
							<tr ng-repeat="data in showCase.datas track by $index" class='table-line'>
								<!-- <td class="table-data"><p>{{data.id}}</p></td> -->
								<td class="table-data"><p>{{data.articles | capitalize}}</p></td>
								<td class="table-data"><p class="tronque">{{data.description | capitalize}}</p></td>
								<td class="table-data"><p>{{data.reference}}</p></td>
								<td class="table-data"><p>{{data.fournisseurs | capitalize}}</p></td>
								<td class="table-data"><p>{{data.date}}</p></td>
								<td class="table-data"><p>{{data.stock}}</p></td>
								<td class="table-data select_box">
									<div class="box_butt">
										<input ng-click="get_by_id(data.id)" ng-model="checky" id="result" type="radio" name="id"/><span class="customRadio"></span>
									</div>
									<div class="box_butt" data-placement="top" data-toggle="tooltip" title="Edit">
										<button ng-click="get_by_id(data.id)" class="btn btn-primary btn-xs btn-custom" data-title="Edit" data-toggle="modal" data-target="#edit" >
											<img src="img/pencil.png">
										</button>
									</div>
									<div class="box_butt" data-placement="top" data-toggle="tooltip" title="Delete">
										<button ng-click="get_by_id(data.id)" class="btn btn-primary btn-xs btn-custom" data-title="Delete" data-toggle="modal" data-target="#delete" >
											<img src="img/cross.png">
										</button>
									</div>
									<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">

												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
													<h3 class="modal-title custom_align" id="Heading">Supprimer l'article</h3>
												</div>

												<div class="modal-body">
													<p class="valid_text">Etes-vous de vouloir supprimer l'article ?</p>
												</div>

												<div class="modal-footer ">
													<button ng-click="delete_article(data.id)" type="button" class="btn btn-warning btn-lg btn-color-custom" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Supprimer l'article</button>
												</div>

											</div>
										</div>
									</div>
								</td>

							</tr>
						</tbody>
					</table>
				</form>
	    	</div>
    	</div>

	<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<h3 class="modal-title custom_align" id="Heading">Modifier l'article</h3>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<h4>Nom</h4>
						<input class="form-control " name="articles" ng-model="articles" type="text" placeholder="Nom...">
					</div>

					<div class="form-group">
						<h4>Description</h4>
						<textarea rows="5" class="form-control area" name="description" ng-model="description" type="text" placeholder="Description..."></textarea>
					</div>

					<div class="form-group">
						<h4>Référence</h4>
						<input class="form-control " name="reference" ng-model="reference" type="text" placeholder="Référence...">
					</div>

					<div class="form-group">
						<h4>Fournisseur</h4>
						<input class="form-control " name="fournisseurs" ng-model="fournisseurs" type="text" placeholder="Fournisseur...">
					</div>

					<div class="form-group">
						<h4>Quantité</h4>
						<input class="form-control " name="stock" ng-model="stock" type="text" placeholder="Quantité...">
					</div>

					<!-- <div class="form-group">
						<textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
					</div> -->
				</div>

				<div class="modal-footer ">
					<button name="update_article" ng-click="update_article()" type="button" class="btn btn-warning btn-lg btn-color-custom" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Mettre à jour</button>
				</div>

			</div>
		<!-- /.modal-content --> 
		</div>
	</div>

	</div>

</div>