<div class="login">
    
    <div class="login_content">
    	<form method="POST">
    		<h1>2TECH</h1>
    		<input class="form-control" ng-model="loginInfo.username" type="text" placeholder="Nom">
    		<input class="form-control" ng-model="loginInfo.password" type="password" placeholder="Mot de passe">
    		<div class="login_butt">
    			<button ng-click="login_user()" class="btn btn-primary" type="submit">Se connecter</button>
    		</div>
    		<!-- <div class="alert alert-danger" role="alert" ></div> -->
    	</form>
    </div>

</div>